.embla {
    /* padding-left: 24px; */
  max-width: 1400px;
  /* margin: auto;  */
  /* max-width: 100vw; */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 15%;

  img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  position: relative;
  display: grid;
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  margin: 11px !important;
  gap: 7px;

  h4{
    color: #000;
    font-size: 0.95rem;
  }
  p{
    font-size: 0.82rem;
  }
  .movie-ratings{
    display: flex;
    gap: 5px;

    
  }
}

.premium-tag{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-40%, -50%);

  background-color: rgba(50, 5, 128, .767);
  color: #fff;
  font-size: 0.7rem;
  padding: 5px 10px;
  border-radius: 20px;
}
/* .embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
} */


@media screen and (max-width: 1550px) {
  .embla {
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 18%;
  }
}
@media screen and (max-width: 1400px) {
  .embla {
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 23%;
  }
}
@media screen and (max-width: 1100px) {
  .embla {
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 30%;
    
  }
  .embla__slide{
    gap: 5px;
  }
}
@media screen and (max-width: 550px) {
  .embla {
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 45%;
  }
}